/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROW CSS Code */
body {
  background-color: #f9f9f9;
}
.banner_bg {
  background-image: url("https://i.ibb.co/GMB2md2/webbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .banner_bg {
    background-image: url("https://i.ibb.co/GMB2md2/webbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
  }
}
